{{define "main"}}
<main>
    <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6 xl:grid-cols-4 2xl:gap-7.5">
            {{range $card := .HomePage.Summaries}}
            <!-- Card Item Start -->
            <div
                class="rounded-sm border border-stroke bg-white px-7.5 py-6 shadow-default dark:border-strokedark dark:bg-boxdark">
                <div class="flex h-11.5 w-11.5 items-center justify-center rounded-full bg-meta-2 dark:bg-meta-4">
                    <svg class="fill-primary dark:fill-white" width="22" height="22" viewBox="0 0 22 22" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        {{$card.Icon}}
                    </svg>
                </div>

                <div class="mt-4 flex items-end justify-between">
                    <div>
                        <h4 class="text-2xl font-bold text-black dark:text-white">{{$card.Value}}</h4>
                        <span class="text-sm font-medium">{{$card.Name}}</span>
                    </div>

                    <span class="flex items-center gap-1 text-sm font-medium {{if $card.PositiveValue}}text-meta-3{{else}}text-meta-5{{end}}">
                        {{$card.ValuePercentage}}
                        <svg class="{{if $card.PositiveValue}}fill-meta-3{{else}}fill-meta-5{{end}}" width="10"
                            height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            {{if $card.PositiveValue}}
                            <path
                                d="M4.35716 2.47737L0.908974 5.82987L5.0443e-07 4.94612L5 0.0848689L10 4.94612L9.09103 5.82987L5.64284 2.47737L5.64284 10.0849L4.35716 10.0849L4.35716 2.47737Z"
                                fill="" />
                            {{else}}
                            <path
                                d="M5.64284 7.69237L9.09102 4.33987L10 5.22362L5 10.0849L-8.98488e-07 5.22362L0.908973 4.33987L4.35716 7.69237L4.35716 0.0848701L5.64284 0.0848704L5.64284 7.69237Z"
                                fill="" />
                            {{end}}
                        </svg>
                    </span>
                </div>
            </div>
            <!-- Card Item End -->
            {{end}}
        </div>
    </div>
</main>
{{end}}


<!-- <span class="flex items-center gap-1 text-sm font-medium text-meta-5">
    0.95%
    <svg class="fill-meta-5" width="10" height="11" viewBox="0 0 10 11" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="M5.64284 7.69237L9.09102 4.33987L10 5.22362L5 10.0849L-8.98488e-07 5.22362L0.908973 4.33987L4.35716 7.69237L4.35716 0.0848701L5.64284 0.0848704L5.64284 7.69237Z"
            fill="" />
    </svg>
</span> -->