<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Meta.Title}}</title>
    <meta name="description" content="{{.Meta.Description}}">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Maven Pro' rel='stylesheet'>
    <link href="{{ .RelativePath "output.css"}}" rel="stylesheet">
</head>

<body class="flex flex-col min-h-screen justify-between">
    <header>
        {{ template "_nav" .}}
    </header>

    <main class="flex-grow">
        {{ template "main" .}}
    </main>
    

    <footer class="p-4 bg-gray-50 sm:p-6 dark:bg-gray-800">
        {{ template "_footer" .}}
    </footer>

    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
    <script src="//unpkg.com/alpinejs"></script>
</body>

</html>