{{define "main"}}
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6" x-data="{ openTab: 1 }">
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
            <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">AI & Zero Learning Product</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Revolutionizing CPFR Implementation</p>
        </div> 
        <script src="//unpkg.com/alpinejs"></script>
        <div x-data="{ 
            openTab: 0,
            activeClasses: 'border-l border-t border-r rounded-t text-blue-700 -mb-px',
            inactiveClasses: 'text-blue-500 hover:text-blue-700'
        }" class="">
            <ul class="flex border-b">
                {{range $key, $item := .Products}}
                <li @click="openTab = {{$key}}" :class="{ '': openTab === 1 }" class="mr-1">
                    <a href="#" :class="openTab === {{$key}} ? activeClasses : inactiveClasses"
                        class="bg-white inline-block py-2 px-4 ml-2 font-semibold">
                        {{$item.Name}}
                    </a>
                </li>
                {{end}}               
            </ul>
            <div class="w-full">
                {{range $key, $item := .Products}}
                <div x-show="openTab === {{$key}}" class="px-8 py-8">
                    <div>
                        <h3 class="text-xl">{{$item.Name}}</h3>
                    </div>
                    <div class="px-8 py-4">
                        <ul class="list-disc">
                            {{range $feat := $item.Features}}
                            <li>{{$feat.Name}}</li>
                            {{end}}
                        </ul>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</section>


{{end}}