{{define "main"}}{{$product := index .Products 0}}



<section>
    <div class="mx-auto mt-12 px-4 max-w-screen-xl gap-6">{{range .Products}}
        <a href="{{$.RelativePath .URL}}" class="py-2 px-4 text-xs shadow-md no-underline rounded-full {{if eq $.PageName .URL}}bg-primary-600 text-white{{end}}">{{.Name}}</a>{{end}}
    </div>
</section>

<section class="bg-white dark:bg-gray-900">
    <div class="grid pt-8 px-4 mx-auto max-w-screen-xl lg:gap-8 xl:gap-0 lg:pt-16 lg:grid-cols-12">
        <div class="place-self-center mr-auto lg:col-span-7">
            <h1 class="mb-4 max-w-2xl text-2xl font-extrabold leading-none md:text-3xl xl:text-4xl dark:text-white">
                {{$product.Name}}
            </h1>
            <div class="mb-6 max-w-2xl font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                {{$product.Tagline}}
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sollicitudin turpis a consectetur facilisis. Nunc sollicitudin aliquet augue, malesuada dignissim tortor bibendum nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum diam neque, malesuada.
            </p>
        </div>
    </div>
</section>

<section class="bg-white dark:bg-gray-900">
    <div class="grid pt-4 px-4 mx-auto max-w-screen-xl lg:gap-8 xl:gap-0 lg:pt-8 lg:grid-cols-12">
        <div class="place-self-center mr-auto lg:col-span-7">
            <h2 class="mb-4 max-w-2xl text-xl font-extrabold leading-none md:text-2xl xl:text-3xl dark:text-white">
                Features
            </h1>
            <div >
                <ul class="list-disc ml-10">{{range $product.Features}}
                    <li>{{.Name}}</li>{{end}}
                </ul>
                
            </div>
            
        </div>
    </div>
</section>


{{end}}